<header> <h1>Dad's Jokes</h1>
    <div class="buttonheader">
        <button onclick="window.location.href='/all'">All</button>
        <button onclick="window.location.href='/random'">Random</button>
    </div>
</header>